<div id="team">
    <h1>Made by:</h1>
    <ul>
        <!-- TODO: Add your name as a list element -->
        <li>Sue</li>
        <li>Patch</li>
        <li>Marielle</li>
        <li>Pavan</li>
        <li>Kevin</li>
        <li>Elva</li>
        <li>Jenny</li>
        <li>
    </ul>
</div>
