<div id="tasks">
  <h1>Tasks</h1>

  {{#each tasks}}
  <br><span>------------------------------</span>
  <div class="task-box">
    <span>{{this.name}}</span>
    <br />
    <span>Time: {{this.time}}</span>
    <br />
    <span>Status: {{this.status}}</span>
  </div>

  {{/each}}

</div>