<div class="pasttasks">
  <h1>Past Tasks</h1>

  {{#each tasks}}
  <span>------------------------------</span>
  <span class="task-name">{{this.name}}</span>
  <br />
  <span>Time: {{this.time}}</span>
  <br />
  <span>Status: {{this.status}}</span>

  {{/each}}

</div>